#inicio {
    background-color: aquamarine;
}

.title {
    text-align: center;
    color: blue;
    font-size: 5vw;
    background-image: url(./imagens/praia.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100px;
    margin-top: 0;
}

#box {
    background-color: rgb(16, 238, 238);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    background-color: rgb(189, 183, 107);
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    width: calc(100% - 40px);
    max-width: 300px; 
    text-align: center;
}

.botao {
    background-color: #007bff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    display: inline-block;
    margin-top: 10px;
}

.botao:hover {
    background-color: blue;
}

a {
    color: whitesmoke;
}

@media (min-width: 600px) {
    .box {
        width: 45%;
    }
}

@media (min-width: 900px) {
    .box {
        width: 30%;
    }
}

.quartos{
    background-color: aqua;
}

#titleChale1{
    text-align: center;
    font-weight: 900;
    color: black;
    font-size: 100;
}

.infoChale1{
    margin: 20px;
}

.infoChale1 img{
    float: left;
    margin-right: 20px;
    width: 200px;
    height: auto;
}