body{
    background-image: none;
}

.title{
    text-align: center;
    color: blue;
    font-size: 80px;
    background-image: url(./imagens/praia.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100px;
    margin-top: 0;
    border: solid 10px rgb(54, 154, 179)
}

#title{
    height: 20px;
}

#tela{
    background-color: gray;
    height: 50%;
}

.quarto{
    margin-left: 25%;
    text-align: center;
    background-color: rgb(189, 183, 107);
    height: 100px;
    width: 50%;
}